<div class="Quarto">
    <ng-container *ngFor="let room of quartos">
        <div *ngIf="room.hotel === '5eab7e50a39d2c138c859f08' && room.tipo === 'Suite'">
            <div class="nav">
                <p class="tipoQuarto"><strong>{{room.tipo}}</strong></p>
            </div>
            <div class="DetalhesQuartoContainer">
                <div class="DetalhesQuarto">
                    <div class="imagemPreco">
                        <img id="imagemQuarto" src="/assets/Imagens/HotelDV/suite.jpg">
                        <div class="preco">
                            <br>
                            <p><span class="datePreco"><strong>De 1/06 a 29/09 e de 16/12 a 14/01: </strong></span><span class="precoEA">{{room.precoAlta}}€</span></p>
                            <br>
                            <p><span class="datePreco"><strong>De 15/01 a 31/05 e de 30/09 a 15/12: </strong></span><span class="precoEB">{{room.precoBaixa}}€</span></p>
                        </div>
                    </div>
                    <ul class="servicos">
                        <ng-container *ngFor="let servico of room.servicos">
                            <li *ngIf="servico !== '-'">
                                {{servico}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>
</div>