<div class="quartos">
    <div id="procuraQ">
        <div id="barraProcura">
            <div id="procura">
                <a id="filtro">
                    <div class="custom-slider">
                        <h3>Preço:</h3>
                        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                    </div>
                    <div id="Epoca">
                        <h3>Época:</h3>
                        <div class="middle">
                            <label>
                            <input type="radio" name="radio" checked/>
                            <div (click)="EpAlta()" class="front-end box">
                              <span>Alta</span>
                            </div>
                          </label>

                            <label>
                            <input type="radio" name="radio"/>
                            <div (click)="EpBaixa()" class="back-end box">
                              <span>Baixa</span>
                            </div>
                          </label>
                        </div>
                    </div>
                </a>
                <a id="servicos" routerLink="/douroVinhas/quartos/servicos">
                    <div id="servicosT"><strong>Serviços</strong></div>
                </a>
            </div>
            <ol id="quartosVisao">
                <ng-container *ngFor="let room of quartos">
                    <li class="quarto" *ngIf="room.hotel === '5ea9c87364860653f800f74c' && ((epoca === 0 && room.precoAlta>=minValue && room.precoAlta <= maxValue) 
                        || (epoca === 1 && room.precoBaixa >=minValue && room.precoBaixa <= maxValue))">
                        <div id="nomeQ"><strong>{{room.tipo}}</strong></div>
                        <div id="img">
                            <div *ngIf="room.tipo === 'Standard';else mudaQuarto">
                                <img class="imagemQuarto" src="/assets/Imagens/HotelDV/standard.jpg">
                            </div>
                            <ng-template #mudaQuarto>
                                <div *ngIf="room.tipo === 'Suite';else mudaQuarto2">
                                    <img class="imagemQuarto" src="/assets/Imagens/HotelDV/suite.jpg">
                                </div>
                            </ng-template>
                            <ng-template #mudaQuarto2>
                                <div *ngIf="room.tipo === 'Suite Duplex';else mudaQuarto3">
                                    <img class="imagemQuarto" src="/assets/Imagens/HotelDV/suiteDuplex.jpg">
                                </div>
                            </ng-template>
                            <ng-template #mudaQuarto3>
                                <div *ngIf="room.tipo === 'Suite Deluxe'">
                                    <img class="imagemQuarto " src="/assets/Imagens/HotelDV/suiteDeluxe.jpg ">
                                </div>
                            </ng-template>
                        </div>
                        <div id="preco ">
                            Preço:
                            <div id="precoEpAlta4 " style="display: inline " *ngIf="epoca===0 ; else epocaBaixa ">{{room.precoAlta}}</div>
                            <ng-template id="precoEpBaixa4 " #epocaBaixa>{{room.precoBaixa}}</ng-template>€
                        </div>
                    </li>
                </ng-container>
            </ol>
        </div>
    </div>