    * {
        box-sizing: border-box;
    }
    
    @media (min-width:1040px),
    (min-height: 1080px) {
        #gallery>div {
            overflow: hidden;
            position: relative;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
        }
        #gallery {
            display: grid;
            height: calc(100vh - 10px);
            grid-template: repeat(6, 1fr) / repeat(6, 1fr);
            grid-gap: 0.5em;
            margin: 2%;
        }
    }
    
    @media only screen and (max-width: 1039px) {
        #gallery {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        #gallery>div {
            width: 30%;
            margin: 1%;
        }
    }
    
    @media (max-height: 1000px),
    (max-width: 768px) {
        #gallery {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            min-height: 1100px;
        }
        #gallery>div {
            width: 45%;
            margin: 1%;
        }
    }
    
    #gallery>div:nth-child(6n + 1) {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    #gallery>div:nth-child(2) {
        grid-column: span 3;
        grid-row: span 3;
    }
    
    #gallery>div:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
    }
    
    #gallery>div>a {
        opacity: 0;
        position: absolute;
        font: bold 4em "Helvetica";
        text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
        padding: 2rem;
        mix-blend-mode: difference;
        width: 100%;
        height: 100%;
        transition: all ease 1s;
    }
    
    #gallery>div>img {
        width: 100%;
        min-height: 100%;
        transition: all ease 1s;
    }
    
    #gallery>div:hover img {
        filter: blur(4px);
    }
    
    #gallery>div:hover a {
        opacity: 1;
    }
    
    #gallery div,
    #gallery a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    [id^="lightbox"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        opacity: 0;
        transition: opacity 450ms ease-in-out;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }
    
    [id^="lightbox"]:target {
        opacity: 1;
        pointer-events: inherit;
    }
    
    [id^="lightbox"]:target img {
        filter: blur(0);
    }
    
    [id^="lightbox"] .content {
        max-width: 50%;
        position: relative;
        color: #fff;
    }
    
    [id^="lightbox"] .content:hover>a.close {
        opacity: 1;
        transform: scale(1, 1);
    }
    
    [id^="lightbox"] .content:hover>.title {
        opacity: 1;
        transform: translateY(-3px);
    }
    
    [id^="lightbox"] .content:hover>.title::after {
        opacity: 1;
    }
    
    [id^="lightbox"] .content>* {
        transition: all 450ms ease-in-out;
    }
    
    [id^="lightbox"] img {
        max-height: 90vh;
        max-width: 100%;
        margin: 0;
        padding: 0;
        filter: blur(50px);
    }
    
    [id^="lightbox"] a.close {
        width: 2em;
        height: 2em;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0, 0);
        opacity: 0;
        transform-origin: right top;
        text-decoration: none;
        color: #fff;
    }
    
    [id^="lightbox"] a.close::after {
        content: "X";
    }