/********CARTOES MB*********************/

#listaCartoes {
    min-height: 100px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

#criar {
    margin: 2%;
}

#botaoAdicionar {
    background-image: url('https://cdn2.iconfinder.com/data/icons/mixed-communication-and-ui-pack/48/general_pack_NEW__add-512.png');
    height: 25px;
    width: 25px;
}

#deleteCard {
    width: 10%;
    left: 0;
    text-align: right;
}

#delete {
    margin-left: 75%;
    margin-bottom: 90%;
    cursor: pointer;
}

.card {
    width: 75%;
    height: 120px;
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
    margin: 2%;
}

.card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 160px;
    height: 95px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879);
    /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front {
    padding: 10px;
    text-align: left;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
}

.card__back {
    padding: 9px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 2.5px;
    height: 19px;
    background-color: #303030;
}

.card__logo {
    height: 8px;
}

.card__front-logo {
    position: absolute;
    top: 2px;
    right: 2px;
}

.card__square {
    border-radius: 2.5px;
    height: 15px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 2px;
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card__space-75 {
    width: 75%;
    float: left;
    text-align: left;
}

.card__space-25 {
    width: 12.5%;
    float: left;
}

.card__label {
    font-size: 7px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.5px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 2.5px;
    font-size: 8px;
    line-height: 9px;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-left: 7.5px;
}

.card__back-content {
    padding: 7.5px 7.5px 0;
}

.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 7px;
}

.card__secret {
    padding: 2.5px 6px;
    background-color: #fff;
    position: relative;
}

.card__secret:before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    height: calc(100% + 3px);
    width: calc(100% - 21px);
    border-radius: 2px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
}

.card__back-square {
    position: absolute;
    bottom: 7.5px;
    left: 7.5px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}