<form [formGroup]="updateForm" (ngSubmit)="updateCliente(updateForm.value)">
    <div class="data">
        <img id="iconePerfil" src="assets/Imagens/Icones/perfil.png">
        <div id="informacaoRegisto">
            <div class="container">
                <label id="nome"><strong>{{this.cliente}}</strong></label>
                <input class="input" type=" text " value="{{this.cliente}}" formControlName="nomeUpdate">
                <span class="border"></span>
            </div>
            {{this.cliente}}
            <div class="container">
                <label id="mail"><strong>{{this.cliente.email}}</strong></label>
                <input class="input" type="email" value="{{this.cliente.email}}" formControlName="emailUpdate">
                <span class="border"></span>
            </div>
        </div>
    </div>
    <div id="informacaoAdicional">
        <div class="container">
            <label id="mail"><strong>{{this.cliente._id}}</strong></label>
            <input class="input" type="email" value="{{this.cliente._id}}" formControlName="telemovelUpdate">
            <span class="border"></span>
        </div>
    </div>
    <button type="submit" class="submit">Atualizar Dados</button>
    <button (click)="logout()" class="submit">Logout</button>
</form>