<form [formGroup]="updateForm" (ngSubmit)="updateCliente(updateForm.value)">
    <div class="data">
        <img id="iconePerfil" src="assets/Imagens/Icones/perfil.png">
        <div id="informacaoRegisto">
            <div class="container">
                <label id="nome"><strong>Nome</strong></label>
                <input class="input" value="{{this.cliente.nome}}" type="text" formControlName="nomeUpdate">
                <span class="border"></span>
            </div>
            <div class="container">
                <label id="mail"><strong>Email</strong></label>
                <input class="input" value="{{this.cliente.email}}" type="email" formControlName="emailUpdate">
                <span class="border"></span>
            </div>
        </div>
    </div>
    <div id="informacaoAdicional">
        <div class="container">
            <label id="mail"><strong>Telefone</strong></label>
            <input class="input" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" type="tel" formControlName="telefoneUpdate">
            <span class="border"></span>
        </div>
    </div>
    <button type="submit" class="submit">Atualizar Dados</button>
    <button (click)="logout()" class="submit">Logout</button>
</form>