<div class="quartos container">
    <div id="procuraQ">
        <div id="barraProcura">
            <div id="procura" class="nav">
                <a id="filtro">
                    <div class="custom-slider">
                        <h3>Preço:</h3>
                        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                    </div>
                    <div id="Epoca">
                        <h3>Época:</h3>
                        <div class="middle">
                            <label>
                            <span class="infoA">1/06-29/09<br>-<br>16/12-14/01</span>
                            <input type="radio" name="radio" checked/>
                            <div (click)="EpAlta()" class="front-end box">
                              <span>Alta</span>
                            </div>
                          </label>

                            <label>
                            <span class="infoB">15/01-31/05<br>-<br>30/09-15/12</span>
                            <input type="radio" name="radio"/>
                            <div (click)="EpBaixa()" class="back-end box">
                              <span>Baixa</span>
                            </div>
                          </label>
                        </div>
                    </div>
                </a>
                <a id="servicos">
                    <div id="servicosT" routerLink="servicos"><strong>Serviços</strong></div>
                </a>
            </div>
        </div>
    </div>
    <ol id="quartosVisao">
        <ng-container *ngFor="let quarto of quartos">
            <li class="quarto" *ngIf="((epoca === 0 && quarto.precoAlta>=minValue && quarto.precoAlta <= maxValue) 
                        || (epoca === 1 && quarto.precoBaixa >=minValue && quarto.precoBaixa <= maxValue))" routerLink="{{quarto._id}}">
                <div id="nomeQ"><strong>{{quarto.tipo}}</strong></div>
                <div id="img">
                    <img class="imagemQuarto" src="{{quarto.foto}}">
                </div>
                <div id="preco">
                    Preço:
                    <div id="precoEpAlta4 " style="display: inline " *ngIf="epoca===0 ; else epocaBaixa ">{{quarto.precoAlta}}</div>
                    <ng-template id="precoEpBaixa4 " #epocaBaixa>{{quarto.precoBaixa}}</ng-template>€
                </div>
            </li>
        </ng-container>
    </ol>
</div>