     /* Mobile */
     
     @media (min-width: 320px) {
         .quartos {
             display: grid;
             grid-template-columns: 15% 70% 15%;
             padding: 2%;
             padding-top: 0;
             padding-bottom: 18%;
         }
         #procuraQ {
             grid-column-start: 1;
             grid-column-end: span 3;
         }
         #procura {
             display: grid;
             grid-template-columns: 15% 55% 15% 15%;
             padding-bottom: 2%;
         }
         #filtro {
             padding-right: 2%;
             display: grid;
             grid-column-start: 2;
             grid-column-end: span 1;
             grid-template-rows: auto auto;
         }
         #servicos {
             grid-column-start: 3;
             grid-column-end: span 1;
             margin: auto;
             width: 100%;
             height: 100%;
             text-decoration: none;
             color: black;
             font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
             text-align: center;
             font-size: 12.5px;
             border-left: solid 1px #ccc;
             outline: 0;
         }
         #servicosT {
             margin: auto;
             margin-top: 70%;
             outline: 0;
             cursor: pointer;
         }
         #precos {
             list-style: none;
         }
         /**************Container Topo****************/
         .container {
             background-color: #fff;
             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
             padding-bottom: 34%;
         }
         .container .nav {
             background-color: #fafafa;
             display: flex;
             align-items: center;
             justify-content: center;
             margin: 0 -3rem 0;
             box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
             position: relative;
             font-size: 10px;
             padding: 2%;
         }
         /***********ÉPOCA***************/
         .infoA,
         .infoB {
             display: none;
         }
         .middle {
             width: 100%;
             padding-left: 5%;
             padding-top: 2%;
             padding-bottom: 3%;
         }
         .middle h1 {
             font-family: "Dax", sans-serif;
             color: #fff;
         }
         .middle input[type="radio"] {
             display: none;
         }
         .middle input[type="radio"]:checked+.box {
             background-color: black;
         }
         .middle input[type="radio"]:checked+.box span {
             color: white;
             transform: translateY(70px);
         }
         .middle input[type="radio"]:checked+.box span:before {
             transform: translateY(0px);
             opacity: 1;
         }
         .middle .box {
             width: 25%;
             height: 40px;
             background-color: #fafafa;
             transition: all 250ms ease;
             will-change: transition;
             display: inline-block;
             text-align: center;
             cursor: pointer;
             position: relative;
             font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
             font-weight: 900;
         }
         .middle .box:active {
             transform: translateY(10px);
         }
         .middle .box span {
             transform: translate(0, 60px);
             left: 0;
             right: 0;
             transition: all 300ms ease;
             font-size: 10px;
             user-select: none;
             color: black;
         }
         .middle .box span:before {
             font-size: 10px;
             margin-top: 12.5%;
             font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
             display: block;
             transform: translateY(-80px);
             opacity: 0;
             transition: all 300ms ease-in-out;
             font-weight: normal;
             color: white;
         }
         .middle .front-end span:before {
             content: url("src/assets/Imagens/Icones/EpAltaTelemovel.png");
         }
         .middle .back-end span:before {
             content: url("src/assets/Imagens/Icones/EpBaixaTelemovel.png");
         }
         /************Slider***************/
         .ng5-slider {
             margin-top: 20px;
             margin-bottom: 5px;
         }
         .ng5-slider::ng-deep .ng5-slider-bar {
             background: #ccc;
             height: 1px;
             margin-top: 0;
         }
         .ng5-slider::ng-deep .ng5-slider-selection {
             background: black;
         }
         .ng5-slider::ng-deep .ng5-slider-pointer {
             width: 4px;
             height: 8px;
             top: auto;
             bottom: 0;
             background-color: #333;
             border-top-left-radius: 1.5px;
             border-top-right-radius: 1.5px;
         }
         .ng5-slider::ng-deep .ng5-slider-pointer:after {
             display: none;
         }
         .ng5-slider::ng-deep .ng5-slider-bubble {
             font-size: 12px;
             margin-bottom: -10px;
         }
         .ng5-slider::ng-deep .ng5-slider-limit {
             font-weight: bold;
             color: black;
         }
         .ng5-slider::ng-deep .ng5-slider-tick {
             width: 1px;
             height: 1px;
             margin-left: 4px;
             border-radius: 0;
             background: #ccc;
             top: -1px;
         }
         .ng5-slider::ng-deep .ng5-slider-tick.ng5-slider-selected {
             background: black;
         }
         /**********************Quartos**************/
         #quartosVisao {
             font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
             display: flex;
             flex-wrap: wrap;
             list-style: none;
             text-align: center;
             min-height: 200px;
             grid-column-start: 2;
             grid-column-end: span 1;
             margin-top: 4%;
         }
         .imagemQuarto {
             width: 80%;
         }
         .quarto {
             width: 80%;
             margin: 0;
             cursor: pointer;
             padding-bottom: 1.5%;
             padding-top: 1.5%;
             border-color: #ccc;
             height: 100%;
         }
         #nomeQ {
             font-size: 15px;
         }
         #preco {
             font-size: 10px;
             text-align: center;
         }
         .quarto:hover {
             border: solid 2px #ccc;
             transform: scale(1.05);
             transition: 0.35s ease-in-out;
         }
     }
     /* Tablet */
     
     @media (min-width: 768px) {
         #filtro {
             padding-right: 2%;
             display: grid;
             grid-column-start: 2;
             grid-column-end: span 1;
         }
         #servicos {
             font-size: 25px;
         }
         #servicosT {
             margin-top: 60%;
             margin-left: 30%;
         }
         /**************Container Topo****************/
         .container {
             box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
         }
         .container .nav {
             margin: 0 -3rem 1rem;
             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
             font-size: 20px;
         }
         /***********ÉPOCA***************/
         .infoA,
         .infoB {
             position: absolute;
             font-size: 7.5px;
             color: black;
             z-index: 10;
             text-align: center;
             display: inline;
             margin-left: 2%;
         }
         .middle {
             width: 80%;
         }
         .middle .box {
             width: 40%;
             height: 100px;
         }
         .middle .box:active {
             transform: translateY(10px);
         }
         .middle .box span {
             font-size: 20px;
         }
         .middle .box span:before {
             font-size: 20px;
         }
         .middle .front-end span:before {
             content: url("src/assets/Imagens/Icones/EpAlta.png");
         }
         .middle .back-end span:before {
             content: url("src/assets/Imagens/Icones/EpBaixa.png");
         }
         /************Slider***************/
         .ng5-slider {
             display: inline-block;
             position: relative;
             height: 4px;
             width: 100%;
             margin: 35px 0 15px;
             vertical-align: middle;
             user-select: none;
             touch-action: pan-y;
         }
         .ng5-slider::ng-deep .ng5-slider-bar {
             height: 2px;
         }
         .ng5-slider::ng-deep .ng5-slider-pointer {
             width: 8px;
             height: 16px;
             border-top-left-radius: 3px;
             border-top-right-radius: 3px;
         }
         .ng5-slider::ng-deep .ng5-slider-bubble {
             font-size: 17px;
             bottom: 25px;
         }
         .ng5-slider::ng-deep .ng5-slider-tick {
             height: 10px;
         }
         /**********************Quartos**************/
         #quartosVisao {
             min-height: 600px;
         }
         #nomeQ {
             font-size: 25px;
         }
         #preco {
             font-size: 20px;
             text-align: center;
         }
         .quarto:hover {
             border: solid 2px #ccc;
             transform: scale(1.05);
             transition: 0.35s ease-in-out;
         }

         .imagemQuarto {
             width: 70%;
         }
         .quarto {
             width: 45%;
             margin: 0;
             cursor: pointer;
             padding-bottom: 1.5%;
             padding-top: 1.5%;
             border-color: #ccc;
             height: 100%;
         }
     }
     /* Pc Medio/Grande */
     
     @media (min-width: 1440px) {
         #filtro {
             padding-right: 2%;
             display: grid;
             grid-column-start: 2;
             grid-column-end: span 1;
             grid-template-columns: 70% 30%;
         }
         #servicos {
             font-size: 25px;
             border-left: solid 2px #ccc;
         }
         #servicosT {
             padding: 0;
             margin: 0;
             margin-top: 50px;
         }
         /**************Container Topo****************/
         .container {
             box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
         }
         .container .nav {
             margin: 0 -3rem 2rem;
             box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
             font-size: 20px;
         }
         /***********ÉPOCA***************/
         .infoA,
         .infoB {
             position: absolute;
             font-size: 10px;
             color: black;
             z-index: 10;
             text-align: left;
             margin-left: 0;
         }
         .middle {
             width: 100%;
         }
         .middle .box {
             width: 50%;
             height: 100px;
         }
         .middle .box span {
             font-size: 20px;
         }
         /************Slider***************/
         .ng5-slider {
             margin-top: 50px;
         }
         .ng5-slider::ng-deep .ng5-slider-bubble {
             font-size: 22px;
             bottom: 25px;
         }
         /**********************Quartos**************/
         #quartosVisao {
             min-height: 800px;
         }
         #nomeQ {
             font-size: 30px;
         }
         #preco {
             font-size: 25px;
             text-align: center;
         }
         .quarto:hover {
             border: solid 2px #ccc;
             transform: scale(1.05);
             transition: 0.35s ease-in-out;
         }
     }