<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mediterraneo">
    <div class="topo">
        <div class="logo">
            <img routerLink="/" style="display:inline; width: 45%" src="assets/Imagens/logoMediterraneo.png">
        </div>
        <div id="topNav">
            <div class="nomeHotel">
                <strong>Mediterraneo</strong>
            </div>
            <a class="topNavA">Quartos</a>
            <a class="topNavA">Fotos</a>
            <a class="topNavA">|</a>
            <a class="topNavA">Login</a>
        </div>
    </div>
    <div class="content"> </div>
    <div class="botBar">
        <ul>
            <li id="nrTelefone">
                <img class="icon" id="iconTelemovel" src="assets/Imagens/Icones/telefone.png">(+351) 254 249 000
            </li>
            <li id="mail">
                <img class="icon" id="iconMail" src="assets/Imagens/Icones/mail.png">(+351) 254 249 000
            </li>
        </ul>
    </div>
</div>