<div class="hoteis">
    <div id="header">
        <img id="logo" src="assets/Imagens/logo.png">
        <div id="textoLogo">
            <strong>HOTÉIS PSI</strong>
        </div>
    </div>
    <ng-container *ngFor="let hotel of hoteis">
        <div routerLink="hotel/{{hotel._id}}" class="hotel">
            <div class="texto"><strong>{{hotel.nome}}</strong></div>
            <div id="imagem">
                <img src="{{hotel.fotos[generateRandomNumber(hotel.fotos.length)]}}">
            </div>
        </div>
    </ng-container>
</div>