<div class="hotelDetails">
    <a routerLink="/mediterraneo/quartos"><strong>Quartos desde 70€</strong></a>
    <a routerLink="/mediterraneo/quartos"><strong>220 Quartos</strong></a>
    <a routerLink="/mediterraneo/quartos/Standard"><strong>114 Standard</strong></a>
    <a routerLink="/mediterraneo/quartos/Suite Junior"><strong>98 Suite Júnior</strong></a>
    <a routerLink="/mediterraneo/quartos/Suite Senior"><strong>8 Suite Sénior</strong></a>
</div>
<div id="descTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">O Hotel</h1>
    </div>
    <div class="descricao">
        <p class="desc" id="p1">Encontrará o Hotel Mediterrâneo mesmo junto à praia e apenas a cinco minutos do centro de Albufeira, no Algarve.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelMediterraneo/vista.jpg">
    </div>
    <div class="descricao1">
        <img id="imgDesc1" src="/assets/Imagens/HotelMediterraneo/quarto.jpg">
        <p class="desc1">Este hotel em Albufeira oferece quartos modernos e amplos, dos quais se destacam os com vista para o mar ou as suítes. Todos têm kitchenette, sendo ideais para famílias com crianças.</p>
    </div>
    <div class="descricao2">
        <p class="desc">Conta ainda com um bar, um restaurante com buffet internacional e piscinas exteriores para adultos e crianças, prometendo dias de muito sol e animação. Tem ainda uma sala de jogos, parque infantil, clube de crianças com atividades para os mais
            novos e animadores próprios, spa com piscina interior, banho turco e jacuzzi, salas de massagem, ginásio e wi-fi gratuito em todas as zonas.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelMediterraneo/piscinaInterior.jpg">
    </div>
    <div class="descricao1">
        <img id="imgDesc1" src="/assets/Imagens/HotelMediterraneo/restaurante.jpg">
        <p class="desc1">Durante a sua estadia aproveite para conhecer as irresistíveis praias de Albufeira, aventurar-se em desportos náuticos ou desfrutar das animadas ruas da cidade, repletas de bares, restaurantes e comércio, ou passear na marina.
        </p>
    </div>
    <div class="descricao" id="descricaoFinal">
        <p class="desc" id="p1">Pode também visitar diferentes parques temáticos como o Zoomarine, Aqualand e Aquashow.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelMediterraneo/lounge.jpg">
    </div>
</div>
<div class="container">
    <div class="nav"><strong>Serviços</strong></div>
    <div id="servicos">
        <div id="servicosLista" class="list">
            <div class="num">
                <div class="numD"> Jardins e espaços exteriores </div>
            </div>
            <div class="num">
                <div class="numD"> Piscina exterior para adultos e crianças </div>
            </div>
            <div class="num">
                <div class="numD"> Acesso gratuito à internet via wi-fi </div>
            </div>
            <div class="num">
                <div class="numD"> Parque de estacionamento </div>
            </div>
            <div class="num">
                <div class="numD"> Nep Kids Club </div>
            </div>
            <div class="num">
                <div class="numD"> Parque infantil </div>
            </div>
            <div class="num">
                <div class="numD"> Sala de jogos </div>
            </div>
            <div class="num">
                <div class="numD"> Serviço de lavandaria </div>
            </div>
            <div class="num">
                <div class="numD"> Acessos para pessoas com mobilidade reduzida </div>
            </div>
            <div class="num">
                <div class="numD"> Clube de saúde </div>
            </div>
            <div class="num">
                <div class="numD"> Receção 24 horas </div>
            </div>
            <div class="num">
                <div class="numD"> Lojas </div>
            </div>
        </div>
    </div>
</div>

<div id="localTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">Localização</h1>
    </div>
    <div id="localizacao">
        <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.872004760857!2d-8.316263684295272!3d37.084355259351376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1934751b1c6fdd%3A0x301e26bf1c67fb3!2sHotel%20Vila%20Gal%C3%A9%20Atl%C3%A2ntico!5e0!3m2!1spt-PT!2spt!4v1588399222220!5m2!1spt-PT!2spt"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div id="detalhesLocal">
            <img id="moradaImg" src="assets/Imagens/Icones/morada.png">
            <a>
                <p id="morada">Hotel Mediterrâneo<br>Praia da Galé<br>8200-995 Albufeira<br> Portugal</p>
            </a>
            <img id="coordsImg" src="assets/Imagens/Icones/gps.png">
            <p id="coords">37°04'55.0"N <br>8°19'03.0"W</p>
        </div>
    </div>
</div>