<div class="hotel2">
    <div class="top">
        <div id=l ogo routerLink="/">
            <img style="display:inline; width: 45%" src="assets/Imagens/logoVerOMar.png">
        </div>
        <div class="nomeHotel">
            A Ver o Mar
        </div>
        <div class="topNav">
            <a>Quartos</a>
            <a>Fotos</a>
            <a>|</a>
            <a>Login</a>
        </div>
    </div>
    <div class="content">Jose</div>
    <footer>
        <div class="botBar">
            <div class="telefone">
                <img id="iconTelemovel" src="assets/Imagens/Icones/IconTelOceano.png">
                <div class="nr">(+351) 254 249 000</div>
            </div>
        </div>
    </footer>
</div>