<div class="grid-container">
    <div>
        <img class='grid-item grid-item-2' src="/assets/Imagens/HotelAVerOMar/lounge.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-3' src="/assets/Imagens/HotelAVerOMar/piscina.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-4' src="/assets/Imagens/HotelAVerOMar/comida.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-5' src="/assets/Imagens/HotelAVerOMar/mar.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-6' src="/assets/Imagens/HotelAVerOMar/massagem.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-7' src="/assets/Imagens/HotelAVerOMar/rececao.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-8' src="/assets/Imagens/HotelAVerOMar/vistaCimaHotel.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-9' src="/assets/Imagens/HotelAVerOMar/vistaPraia.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-10' src="/assets/Imagens/HotelAVerOMar/quarto2.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-11' src="/assets/Imagens/HotelAVerOMar/standard.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-12' src="/assets/Imagens/HotelAVerOMar/suiteJunior.jpg" alt=''>
    </div>
    <div>
        <img class='grid-item grid-item-13' src="/assets/Imagens/HotelAVerOMar/suiteJuniorSuperior.jpg" alt=''>
    </div>
</div>