<div class="hotelPage">
    <div class="topo">
        <div class="logo">
            <img routerLink="/" style="display:inline; width: 45%" src="assets/Imagens/logoVinha.png">
        </div>
        <div class="topNav">
            <div class="nomeHotel">
                Douro Vinhas
            </div>
            <a>Quartos</a>
            <a>Fotos</a>
            <a>|</a>
            <a>Login</a>
        </div>
    </div>
    <div class="content">Jose</div>
    <footer>
        <div class="botBar">
            <div class="telefone">
                <img class="icon" id="iconTelemovel" src="assets/Imagens/Icones/telefone.png">
                <div class="nr">(+351) 254 249 000</div>
            </div>
            <div class="mail">
                <img class="icon" id="iconMail" src="assets/Imagens/Icones/mail.png">
                <div class="nr">(+351) 254 249 000</div>
            </div>
        </div>
    </footer>
</div>