.hotelPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 10%;
}

.topo {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 1%;
}

#logo {
    padding-right: 5%;
}

.telefone {
    width: 5%;
    height: 5%;
}

.contactos {
    background: linear-gradient(to bottom right, #006600 0%, #ffffff 100%);
}