/***********DATAS***************/



#input {
    margin: 7.5%;
    width: 100%;
    text-align: center;
    padding: 2%;
    margin: 5%;
    margin-left: 33%;
    margin-right: 33%;
}


/***********QUARTO***************/

li {
    list-style: none;
    display: none;
}





.check-list {
    margin: 2%;
    margin-bottom: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}



/* Mobile*/

@media (min-width:320px) {
    #quartos{
        grid-row-start: 2;
        grid-row-end: 2;
        
       
    }
   
    .firstP{
      
        display:grid;  
        grid-template-rows: 48% 45%;
        grid-template-columns: 50% 50%;
        grid-row-gap: 7%
    }
    li {
        list-style: none;
        display: none;
    }

    .book{
        height: 400px;
        font-size: 10px;
    }

    #bookContainer{
        width: 95%;
        margin-top: 99px;
        margin-left: 22%;
    }
/* primeira linha da pag (grid) */
    #datasMudanca {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: start;
        display: grid;
        grid-template-rows: 50% 50%;
        font-size: 10px;
        margin-left: -55%;
        margin-right: 0px;
        width: 187%;
    }
/* segunda linha da pag (grid partida em tres linhas) */
    #quartoInicial{
        grid-row-start:2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: span 2;
        display: grid;
        grid-template-rows: 20% 20% 60%;
    }
    

    
    
    #imagemQuartoContainer {
        grid-row-start: 3;
        grid-row-end: span 1;
        grid-column-start: 1;
        grid-column-end: span 2;
        
    }
    
    #imagemQuarto {
        width: 100%;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: span 2;
        padding-top: 8%;
        align-self: center;
        justify-self: center;
    }
    
    #quartoDetalhes {
        
    }

    

    .tituloParametroCheckIn,
    .tituloParametro {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 2%;
        margin-top: 5%;
        margin-left: 30%;
        margin-right: 33%;
        font-size: 14px;
    }

    .tituloParametroQuarto{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        text-align: center;
        
        font-size: 14px;
    }
}

/* Mobile L */

@media (min-width:425px){
    
}
/* Tablet */

@media (min-width:768px) {
    .firstP{
      
        display:grid;  
        grid-template-rows: 48% 45%;
        grid-template-columns: 50% 50%;
        grid-row-gap: 7%
    }

    #datasMudancas{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: start;
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 10px;
        margin-left: -55%;
        margin-right: 0px;
        width: 187%;
    }
    
}
/* Laptop */

@media (min-width:1024px){
    li {
        list-style: none;
        display: block;
    }
}
/* Laptop L */

@media (min-width:1440px){}
/* 4K */

@media (min-width:2560px){}



@media (min-width:357px) {
    .book{
        height: 420px;
    }
}

@media (min-width:373px) {
    .book{
        height: 440px;
    }
}

@media (min-width:392px) {
        .book{
            height: 450px;
        }
}

@media (min-width:424px) {
    .book{
        height: 500px;
    }
}

@media (min-width:510px) {
    .book{
        height: 550px;
    }
}

@media (min-width:580) {
    .book{
        height: 600px;
    }
}

@media (min-width:640px) {
    .book{
        height: 650px;
    }
}
@media (min-width:715px) {
    .book{
        height: 700px;
    }
}