@media (max-width:600px) {
    #datasMudanca {
        display: grid;
        grid-template-rows: auto auto;
    }
    #input {
        margin: 7.5%;
        width: 100%;
        text-align: center;
    }
    /***********QUARTO***************/
    li {
        list-style: none;
    }
    #QuartoContainer {
        display: grid;
        grid-template-rows: auto auto;
    }
    #imagemQuartoContainer {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #imagemQuarto {
        width: 50%;
    }
    #quartos {
        margin-top: 2%;
        padding: 1%;
        font-size: 15px;
        font-weight: 600;
        height: 30%;
    }
    #quartoDetalhes {
        justify-content: center;
        text-align: center;
    }
    #quartos {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .check-list {
        display: none;
    }
}

@media(min-width:600px) {
    /***********DATAS***************/
    #datasMudanca {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 5%;
    }
    #input {
        margin: 7.5%;
        width: 100%;
        text-align: center;
    }
    /***********QUARTO***************/
    li {
        list-style: none;
    }
    #QuartoContainer {
        display: grid;
        grid-template-rows: auto auto;
    }
    #imagemQuartoContainer {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #imagemQuarto {
        width: 50%;
    }
    #quartoDetalhes {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    #quartos {
        margin-top: 2%;
        padding: 1%;
        font-size: 15px;
        font-weight: 600;
        height: 30%;
    }
    .check-list {
        margin: 2%;
        margin-bottom: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}