.input {
    width: 50%;
    font-size: 15px;
    border: 0;
    bottom: 0;
    padding: 15px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#formGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#telefone {
    display: grid;
    grid-template-columns: 30% 70%;
}

#telefoneTitulo {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#indicativo {
    grid-column-start: 1;
}

#numero {
    grid-column-start: 2;
}


/************Morada**************/

#moradas {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

#morada {
    margin: 2%;
}

#criarMoradaButton {
    width: 10%;
}

#botaoAdicionar {
    width: 100%;
}


/******Create****/

.criarMorada {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 12.1 */
    animation: fadein 1.5s;
}

#criarMoradaContainer {
    width: 25%;
    height: 25%;
    margin-left: 35%;
    margin-top: 10%;
    align-items: center;
    background-color: #fafafa;
}

#criarMoradaContainer>form {
    width: 600px;
    background-color: #fafafa;
}

#form {
    margin: 2%;
    padding: 2%;
}

#input {
    margin: 2%;
}

#input>input {
    margin-left: -58%;
    font-size: 15px;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

#botoesM {
    float: right;
    width: 10%;
}

#botaoYesCreate,
#botaoCancelCreate {
    width: 100%;
}

#criarButton,
#cancelarButton {
    width: 45%;
    margin: 2%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/****************************************************************************/

#r8-balloon-radio-group-wrapper {
    display: flex;
    margin: 2%;
    /* Radio Elements */
}

#r8-balloon-radio-group-wrapper :disabled+label {
    color: darkgray;
}

#r8-balloon-radio-group-wrapper label {
    display: block;
    transform: rotateZ(-45deg);
    font-weight: 300;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -15%;
}

#r8-balloon-radio-group-wrapper label::after {
    display: block;
    content: attr(for);
}

#r8-balloon-radio-group-wrapper .r8-radio-float:not([disabled]):hover {
    background: whitesmoke;
    box-shadow: 0 0 0.25rem white;
    animation: stabilize 1 1s;
}

#r8-balloon-radio-group-wrapper .r8-radio-float:not([disabled]):hover:checked {
    box-shadow: none;
    animation: unset !important;
}

#r8-balloon-radio-group-wrapper .r8-radio-float:not([disabled]):hover::before {
    /* Centered disc */
    border: 0.125rem solid rgb(253, 20, 51);
}

#r8-balloon-radio-group-wrapper .r8-radio-float:not([disabled]):hover::after {
    /* Hover shadow */
    opacity: 0.45;
}

#r8-balloon-radio-group-wrapper ul {
    list-style: none;
}

#r8-balloon-radio-group-wrapper ul li {
    display: inline-block;
    transform: rotateZ(45deg);
}

#r8-balloon-radio-group-wrapper .radio {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0.67rem;
    margin-top: 0;
    cursor: pointer;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transform-origin: center;
    border: 0.05rem solid darkgray;
    border-radius: 50% 50% 0.2rem 50%;
    background: gainsboro;
    transition: all 250ms ease-in-out;
    margin-top: 2%;
}

#r8-balloon-radio-group-wrapper .radio::before,
#r8-balloon-radio-group-wrapper .radio::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

#r8-balloon-radio-group-wrapper .radio::before {
    /* Centered disc */
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background: white;
    border: 0.125rem solid gainsboro;
    box-shadow: 0 0 0.05rem rgba(0, 0, 0, .25);
    pointer-events: all;
    transition: all 250ms ease-in-out;
}

#r8-balloon-radio-group-wrapper .radio::after {
    /* Hover shadow */
    width: 2rem;
    height: 0.67rem;
    top: 2.19rem;
    left: 1.5rem;
    background: gainsboro;
    opacity: 0.25;
    transform-origin: right middle;
    transform: rotateZ(-45deg);
    overflow: visible;
    background: radial-gradient(ellipse at center, gainsboro 0%, transparent 50%);
    transition: height 1s ease, opacity 1s ease;
}

#r8-balloon-radio-group-wrapper .radio:checked {
    background: whitesmoke;
    transform: scale(1.2);
    transition: background 250ms ease-in-out;
}

#r8-balloon-radio-group-wrapper .radio:checked::before {
    width: 0.75rem;
    height: 0.75rem;
    background: rgb(253, 20, 51);
    border: 0.25rem solid rgba(255, 255, 255, 0.5);
}

#r8-balloon-radio-group-wrapper .radio:checked:disabled {
    opacity: 0.4;
    background: whitesmoke;
}

#r8-balloon-radio-group-wrapper .radio:disabled {
    cursor: no-drop;
    opacity: 0.25;
    background: silver;
    animation: unset !important;
}

#r8-logo-coin {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    right: 1rem;
    bottom: 1rem;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1251/R8-launcher-icon-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}

#r8-logo-coin::before {
    position: relative;
    border-radius: 50%;
    display: block;
    content: '';
    background-size: contain;
    background: rgb(253, 20, 51);
    margin: 0.5rem;
    width: calc(90% - .6rem);
    height: calc(90% - .6rem);
    z-index: -1;
}

@keyframes stabilize {
    0% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}