<div *ngIf="erroDatas" class="alert">
    <a class="closebtn" (click)="changeStateDateErro()" onclick="this.parentElement.style.display='none';">&times;</a>Data de check-in não pode ser depois da data de check-out!
</div>
<div id="bookContainer">
    <div class="book">
        <div class="back"></div>
        <div class="page6">
            <div id="paginaAtual">
                <div *ngIf="datasQuarto">
                    <div [ngStyle]="{'animation': mudaPagina ? 'openBookP5 1.8s;' : ''}" class="conteudoPagina">
                        <form ngNativeValidate [formGroup]="datasQuartoForm" (ngSubmit)="updateDataQD(datasQuartoForm.value)">
                            <div id="datasMudanca">
                                <div class="checkInMudanca">
                                    <h3 class="tituloParametro">Check-In</h3>
                                    <div id="input">
                                        <input type="date" formControlName="checkInInicial" required>
                                    </div>
                                </div>
                                <div class="checkOutMudanca">
                                    <h3 class="tituloParametro">Check-Out</h3>
                                    <div id="input">
                                        <input type="date" formControlName="checkOutInicial" required>
                                    </div>
                                </div>
                            </div>
                            <div id="quartoInicial">
                                <h3 class="tituloParametro">Quarto</h3>
                                <div id="QuartoContainer">
                                    <div id="imagemQuartoContainer">
                                        <img id="imagemQuarto" src="{{foto}}">
                                    </div>
                                    <div id="quartoDetalhes">
                                        <select id="quartos" name="quartos" (change)="mudaQuarto($event.target.value)" formControlName="quartoInicial" required>
                                        <option *ngFor="let quarto of quartos" value={{quarto.tipo}}>{{quarto.tipo}}</option>
                                        </select>
                                        <ng-container id="servicosQ" *ngFor="let quarto of quartos">
                                            <ng-container *ngIf="quarto.tipo === this.selectedQuarto">
                                                <ul class="servicos check-list">
                                                    <ng-container *ngFor="let servico of quarto.servicos,let i=index">
                                                        <li *ngIf="servico !== '-'">
                                                            {{servico}}
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="botaoMudaPagina">
                                <button type="submit" class="nextPage"><img src="assets/Imagens/Icones/turnRight.png"></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="dadosCliente">
                    <div>
                        <form ngNativeValidate [formGroup]="updateForm" (ngSubmit)="updateClienteReserva(updateForm.value)">
                            <div id="formGrid">
                                <div class="container">
                                    <h3 class="tituloParametro">Nome</h3>
                                    <input class="input" placeholder="Rui Barbo" pattern="[A-Za-z]{1,10}|[A-Za-z]{2,10}\s[A-Za-z]{2,10}" oninvalid="this.setCustomValidity(this.willValidate?'':'ra apenas o primeiro e último nome')" type="text" formControlName="nomeUpdate" required>
                                </div>
                                <div class="container">
                                    <h3 class="tituloParametro">Email</h3>
                                    <input class="input" placeholder="ruiBarbo@teste.com" type="email" formControlName="emailUpdate" required>
                                </div>
                                <div class="container" id="telefone">
                                    <h3 id="telefoneTitulo" class="tituloParametro">Telefone</h3>
                                    <div id="indicativo" class="container">
                                        <input class="input" pattern="[+]{1}[0-9]{1,3}" placeholder="+351" type="text" formControlName="indicativoUpdate" required>
                                    </div>
                                    <div id="numero" class="container">
                                        <input class="input" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="999999999" type="tel" formControlName="telefoneUpdate" required>
                                    </div>
                                </div>
                                <div class="container">
                                    <h3 class="tituloParametro">NIF</h3>
                                    <input class="input" placeholder="123456789" pattern="[0-9]{9}" type="text" formControlName="nifUpdate" required>
                                    <span class="border "></span>
                                </div>
                            </div>
                            <div class="botaoMudaPagina">
                                <button type="submit" class="nextPage"><img src="assets/Imagens/Icones/turnRight.png"></button>
                            </div>
                            <div>
                                <h3 class="tituloParametro">Morada</h3>
                                <div id="moradas">
                                    <div id="r8-balloon-radio-group-wrapper">
                                        <ul>
                                            <li *ngFor="let morada of moradas; let i = index">
                                                <input *ngIf="moradaIdFinal !== morada._id; else checked" id="op_{{i}}" class="radio r8-radio-float" type="radio" name="demo-radio-group" value="{{morada._id}}" (change)="onItemChange($event.target.value)" required/>
                                                <label>
                                                    <p><strong>Rua: </strong>{{morada.rua}}</p>
                                                    <p><strong>Código Postal: </strong>{{morada.codigoPostal}}</p>
                                                    <p><strong>Cidade: </strong>{{morada.cidade}}</p>
                                                </label>
                                                <ng-template #checked>
                                                    <input id="op_{{i}}" checked="true" class="radio r8-radio-float" type="radio" name="demo-radio-group" value="{{morada._id}}" (change)="onItemChange($event.target.value)" required/>
                                                </ng-template>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="botao" id="criarMoradaButton" (click)="criarMorada()"><img id="botaoAdicionar" src="assets/Imagens/Icones/addButton.png"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="pagamento">Teste
                    <div class="botaoMudaPagina">
                        <a (click)="finalN()" class="nextPage"><img src="assets/Imagens/Icones/turnRight.png"></a>
                    </div>
                </div>
                <div *ngIf="final">
                    <form ngNativeValidate [formGroup]="reservaCreate" (ngSubmit)="createReserva(reservaCreate.value)">
                    </form>
                    <div class="botaoFazerReserva">
                        <button type="submit" class="nextPage" class="btn draw-border submit">Reservar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page5">
            <div *ngIf="!datasQuarto" class="paginaImpar botaoMudaPagina">
                <a (click)="goBack()"><img src="assets/Imagens/Icones/turnLeft.png"></a>
            </div>
            <div class="paginaImpar" *ngIf="datasQuarto">
                <h4 class="descricaoPagina">Confirme as datas de check-in e de check-out! <br>Confirme também o tipo de quarto.</h4>
            </div>
            <div class="paginaImpar" *ngIf="dadosCliente">
                <h4 class="descricaoPagina">Insira os dados de identificação.</h4>
            </div>
            <div class="paginaImpar" *ngIf="pagamento">
                <h4 class="descricaoPagina">Escolha um método de pagamento ou adicione um novo.</h4>
            </div>
            <div id="paginaAtual" class="paginaImpar">
                <div *ngIf="final">
                    <h2 style="text-align: center;">Dados da reserva:</h2>
                    <div id="datas">
                        <div id="checkInField">
                            <h3 class="tituloParametro"><span id="checkIn">Check-In</span></h3>
                            <p class="textoD">{{this.checkIn}}</p>
                        </div>
                        <div id="checkOutField">
                            <h3 class="tituloParametro"><span id="checkOut">Check-Out</span></h3>
                            <p class="textoD">{{this.checkOut}}</p>
                        </div>
                    </div>
                    <h3 class="tituloParametro">Quarto</h3>
                </div>
            </div>
        </div>
        <div class="page4"></div>
        <div class="page3"></div>
        <div class="page2"></div>
        <div class="page1"></div>
        <div class="front">
        </div>
    </div>
</div>


<div *ngIf="criarM" class="criarMorada" id="criarMorada">
    <div id="criarMoradaContainer">
        <form ngNativeValidate [formGroup]="createMorada" (ngSubmit)="createM(createMorada.value)">
            <div id="form">
                <div id="input">
                    <strong>Rua:</strong>
                    <input type="text" placeholder="Rua das Flores" formControlName="rua" required/>
                </div>
                <div id="input">
                    <strong>Código Postal:</strong>
                    <input type="text" placeholder="2420-650" pattern="[0-9]{4}-[0-9]{3}" formControlName="codigoPostal" required/>
                </div>
                <div id="input">
                    <strong>Cidade:</strong>
                    <input type="text" placeholder="Porto" formControlName="cidade" required/>
                </div>
                <div id="input">
                    <strong>País:</strong>
                    <input type="text" placeholder="Portugal" formControlName="pais" required/>
                </div>
            </div>
            <div id="botoesM">
                <button id="criarButton" type="submit" class="submit botao"><img id="botaoYesCreate" src="assets/Imagens/Icones/addGreenButton.png"></button>
                <button id="cancelarButton" type="submit" (click)="criarMorada();" class="submit botao"><img id="botaoCancelCreate" src="assets/Imagens/Icones/cancelButton.png"></button>
            </div>
        </form>
    </div>
</div>