<div id="descTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">O Hotel</h1>
    </div>
    <div class="descricao">
        <p class="desc" id="p1">Com uma vista de cortar o fôlego para o Rio Douro e para o Rio Tedo, é no coração do Douro Vinhateiro que surge o Hotel Douro Vinhas. Com uma forte componente de agro e enoturismo, esta unidade estende-se pela centenária Quinta do Moreira.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelDV/varanda.jpg">
    </div>
    <div class="descricao1">
        <img id="imgDesc1" src="/assets/Imagens/HotelDV/vinha.jpg">
        <p class="desc1">Na margem sul do Douro, perto da pitoresca aldeia do Marmelal, a propriedade que acolhe o Hotel Douro Vinhas fica muito próxima de um dos dois marcos mandados construir pelo Marquês de Pombal em 1757. Classificados como imóveis de interesse público,
            serviam para demarcar a zona dos vinhos generosos do Douro, à época sob jurisdição da Companhia Geral da Agricultura das Vinhas Douro. Nascia assim a primeira região demarcada de vinhos do mundo. Hoje, os vinhedos em socalcos tornam única
            a paisagem que rodeia esta unidade.</p>
    </div>
    <div class="descricao">
        <p class="desc">Numa primeira fase com apenas sete quartos, o Hotel Douro Vinhas distingue-se pela localização, pelo charme e pela exclusividade. Aqui poderá desfrutar da calma e do silêncio, do cenário, mas também a piscina exterior, da gastronomia regional
            do restaurante Moreira, cujos grandes janelões permitem admirar a envolvente. Mas também das visitas à adega e provas de vinhos do Porto, produzidos no local.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelDV/rececao.jpg">
    </div>
    <div class="descricao1" id="descricaoFinal">
        <img id="imgDesc1" src="/assets/Imagens/HotelDV/standard.jpg">
        <p class="desc1">Poderá ainda aproveitar para passear entre as vinhas, pelo olival ou pelo amendoal (particularmente bonito durante as amendoeiras em flor), sempre com o Tedo e o Douro como companhia. Para completar a estadia, faça um cruzeiro fluvial, visite
            as quintas vinícolas da região ou faça um passeio de comboio. Ver as amendoeiras em flor ou participar nas vindimas são outras sugestões.
        </p>
    </div>
</div>


<div class="container">
    <div class="nav"><strong>Serviços</strong></div>
    <div id="servicos">
        <div id="servicosLista" class="list">
            <div class="num">
                <div class="numD"> Adega Moreira </div>
            </div>
            <div class="num">
                <div class="numD"> Acesso gratuito à internet via wi-fi </div>
            </div>
            <div class="num">
                <div class="numD"> Serviços de lavandaria </div>
            </div>
            <div class="num">
                <div class="numD"> Acessos para pessoas com mobilidade reduzida </div>
            </div>
            <div class="num">
                <div class="numD"> Receção 24 horas </div>
            </div>
            <div class="num">
                <div class="numD"> Biblioteca </div>
            </div>
        </div>
    </div>
</div>

<div id="localTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">Localização</h1>
    </div>
    <div id="localizacao">
        <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12016.598668865734!2d-7.6444033!3d41.153085399999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b783ee5b06b15bc!2sVila%20Gal%C3%A9%20Douro%20Vineyards!5e0!3m2!1spt-PT!2spt!4v1587745957650!5m2!1spt-PT!2spt"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div id="detalhesLocal">
            <img id="moradaImg" src="assets/Imagens/Icones/morada.png">
            <p>Hotel Douro Vinhas<br> Quinta do Moreira – Marmelal <br> 5110-672 Armamar<br> Portugal</p>
            <img id="coordsImg" src="assets/Imagens/Icones/gps.png">
            <p>41°09'26.0"N <br>7°38'26.0"W</p>
        </div>
    </div>
</div>