<div class="descricao">
    <h1 class="descTitulo">Hotel A Ver o Mar</h1>
    <p class="desc" id="p1">Situado na pitoresca vila da Ericeira, mesmo em cima da praia, este hotel com história e tradição, que resulta da reabilitação do marcante Hotel de Turismo da Ericeira, tem como cenário o Oceano Atlântico.</p>
    <img id="imgDesc" src="/assets/Imagens/HotelAVerOMar/rececao.jpg">
</div>
<div class="descricao1">
    <img id="imgDesc1" src="/assets/Imagens/HotelAVerOMar/restaurante.jpg">
    <p class="desc1">A 30 minutos de Lisboa, com acesso direto por autoestrada, o hotel A Ver o Mar dispõe de quatro tipologias de quarto, destacando-se os que têm varanda e vista para o mar. Este hotel na Ericeira inclui um restaurante, dois bares, salas para eventos e reuniões empresariais, clube de crianças e parque infantil e um moderno clube de saúde com salas de massagens, jacuzzi, sauna, banho turco e ginásio.</p>
</div>
<div class="descricao">
    <p class="desc">Durante a sua estadia no hotel A Ver o Mar, não deixe de dar um mergulho nas duas piscinas para adultos, uma das quais de água salgada. Já as crianças vão adorar os escorregas aquáticos.</p>
    <img id="imgDesc" src="/assets/Imagens/HotelAVerOMar/piscina.jpg">
</div>
<div class="descricao1">
    <img id="imgDesc1" src="/assets/Imagens/HotelAVerOMar/vistaPraia.jpg">
    <p class="desc1">Partindo deste hotel na Ericeira, aventure-se a conhecer as praias da região. E saiba que se apreciar desportos de ondas, está em plena reserva mundial de surf, e palco de uma das etapas do circuito WSL World Tour que junta os melhores surfistas do mundo. Pode ainda visitar o Palácio Nacional de Mafra ou Sintra, a 20 minutos de distância do hotel A Ver o Mar, de carro. No verão, a animação da vila aumenta graças a vários festivais, entre os quais um dedicado exclusivamente à música reggae.
    </p>
</div>

<div id="localizacao">
    <div id="mapa">
        <iframe src="https://www.google.com/search?safe=off&sxsrf=ALeKk00Q-VmfpeI8McdvPqzkX3eU4sJekQ%3A1588091338434&ei=ylmoXriFGoSMa8mYhMAI&q=38%C2%B057%2756.0%22N+9%C2%B025%2709.0%22W&oq=38%C2%B057%2756.0%22N+9%C2%B025%2709.0%22W&gs_lcp=CgZwc3ktYWIQAzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzIHCCMQ6gIQJzoECAAQR1D4Clj7DGDwDWgBcAF4AIABAIgBAJIBAJgBAKABAaABAqoBB2d3cy13aXqwAQo&sclient=psy-ab&ved=0ahUKEwi4kuSgxYvpAhUExhoKHUkMAYgQ4dUDCAw&uact=5#"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div id="detalhesLocal">
        <img id="moradaImg" src="assets/Imagens/Icones/morada.png">
        <p>Hotel A Ver o Mar<br> Largo dos Navegantes<br> 2655-320 Ericeira<br> Portugal</p>
        <img id="coordsImg" src="assets/Imagens/Icones/gps.png">
        <p>38°57'56.0"N <br>9°25'09.0"W</p>
    </div>
</div>