table {
    text-align: center;
    width: 40%;
    margin: auto;
    border-spacing: 0;
}

td {
    padding: 5%;
    cursor: pointer;
    border-bottom: solid 1px lightgray;
    transition: ease-in-out;
}

td:hover {
    background: lightgray;
}

#logout {
    color: red;
}

#logout:hover {
    background: red;
    color: white;
}