* {
    cursor: default;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hotelPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    position: relative;
}

.topo {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    z-index: 2;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}


/* Mobile*/

@media (min-width:320px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 40%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 70%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 50%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 1%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 1px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 5%;
        height: 5%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 7%;
        bottom: -20;
    }
    ul {
        grid-column-start: 4;
        grid-column-end: span 2;
        width: 100%;
        list-style-type: none;
        font-size: 40%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 125%;
        padding-bottom: 5%;
    }
}


/* Mobile L */

@media (min-width:425px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 40%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 100%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 70%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 1%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 4px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 5%;
        height: 5%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 7%;
        bottom: -20;
    }
    ul {
        grid-column-start: 4;
        grid-column-end: span 2;
        width: 100%;
        list-style-type: none;
        font-size: 50%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 150%;
        padding-bottom: 5%;
    }
}


/* Tablet */

@media (min-width:768px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 40%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 150%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 100%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 1%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 4px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 5%;
        height: 5%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 7%;
        bottom: -20;
    }
    ul {
        grid-column-start: 4;
        grid-column-end: span 2;
        width: 100%;
        list-style-type: none;
        font-size: 90%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 125%;
        padding-bottom: 5%;
    }
}


/* Laptop */

@media (min-width:1024px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 40%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 250%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 150%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 0;
        margin-left: 2%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 4px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 5%;
        height: 5%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 7%;
        bottom: -20;
    }
    ul {
        grid-column-start: 4;
        grid-column-end: span 2;
        width: 100%;
        list-style-type: none;
        font-size: 100%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 150%;
        padding-bottom: 5%;
    }
}


/* Laptop L */

@media (min-width:1440px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 25%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 250%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 175%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 0;
        margin-left: 2%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 4px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 5%;
        height: 5%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 6%;
        bottom: -20;
    }
    ul {
        width: 100%;
        list-style-type: none;
        font-size: 100%;
        left: 20%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 200%;
        padding-bottom: 5%;
    }
}


/* 4K */

@media (min-width:2560px) {
    .logo {
        float: left;
        width: auto;
        color: white;
        max-width: 30%;
        margin-top: 0.25%;
        z-index: 10;
        cursor: pointer;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .nomeHotel {
        color: white;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 400%;
        text-align: center;
        margin-top: 5%;
        margin-right: 15%;
        width: 100%;
    }
    .topNav {
        color: white;
        float: right;
        top: 0;
        text-align: center;
        font-size: 300%;
        margin-top: 3%;
    }
    .topNavA,
    .topNavA1 {
        padding: 0;
        margin-left: 2%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .topNavA1 {
        cursor: default;
    }
    .topNavA:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        animation-duration: 0.25s;
        border-bottom: 4px solid white;
    }
    /*************Bottom Bar**************/
    .telefone {
        width: 10%;
        height: 10%;
    }
    .botBar {
        background-color: black;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
    }
    .hotelPage {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    li {
        color: white;
        padding: 0.5%;
    }
    #iconTelefone,
    #iconMail {
        width: 8%;
    }
    ul {
        width: 100%;
        list-style-type: none;
        font-size: 200%;
        left: 20%;
        padding-bottom: 5%;
        padding-top: 2%;
        grid-column-start: 4;
        grid-column-end: span 0;
        padding-left: 5%;
    }
    #contactos {
        font-size: 250%;
        padding-bottom: 5%;
    }
}