<div id="servicos">
    <div class="quarto-servicos-container">
        <ng-container *ngFor="let room of quartos">
            <div *ngIf="room.hotel === '5eab7e50a39d2c138c859f08'" routerLink="/douroVinhas/quartos/{{room.tipo}}" class=" servicos-container text-center ">
                <p class="tipoQuarto "><strong>{{room.tipo}}</strong><br><span class="precoQ">{{room.precoBaixa}}€ - {{room.precoAlta}}€</span></p>
                <ul class="servicos ">
                    <li *ngFor="let servico of room.servicos ">{{servico}}</li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>