<div id="servicos">
    <div id="titulo"><strong>Serviços</strong></div>
    <table id="comparacao" class="tg">
        <tr>
            <th class="tg-fzdr"><strong>Quarto</strong></th>
            <th class="tg-fzdr"><strong>Standard</strong></th>
            <th class="tg-fzdr"><strong>Suíte</strong></th>
            <th class="tg-fzdr"><strong>Suíte Duplex</strong></th>
            <th class="tg-fzdr"><strong>Suíte Deluxe</strong></th>
        </tr>
        <tr>
            <td class="tg-fzdr">Telefone</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Wi-fi gratuito</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Ar condicionado</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Televisão LED</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-spsm">Canais por cabo</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Cofre</td>
            <td class="tg-fzdr"><img class="wrong" src="assets/Imagens/Icones/wrong.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Casa de banho <br>privativa com<br>telefone</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Secador de <br>cabelo</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Espelho de<br>maquilhagem</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Produtos de<br>higiene pessoal<br>gratuitos</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Serviço de<br>quarto 24 horas</td>
            <td class="tg-fzdr"><img class="wrong" src="assets/Imagens/Icones/wrong.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Fechadura<br>eletrónica de<br>segurança</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Sala-de-estar</td>
            <td class="tg-fzdr"><img class="wrong" src="assets/Imagens/Icones/wrong.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Roupão e<br>chinelos</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
        <tr>
            <td class="tg-fzdr">Máquina de <br>café</td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
            <td class="tg-fzdr"><img class="correct" src="assets/Imagens/Icones/correct.png"></td>
        </tr>
    </table>
</div>