<div class="hoteis">
    <div id="header">
        <img id="logo" style="display:inline; width: 3%" src="assets/Imagens/logo.png">
        <a id="textoLogo">Hotéis PSI</a>
    </div>
    <div class="hotel" id="hotel1">
        <img class="hotel" id="hotel1Img" src="assets/Imagens/hotel1.jpg">
        <div class="texto"><strong>Douro Vinhas</strong></div>
    </div>
    <div class="hotel" id="hotel2">
        <img id="hotel2Img" src="assets/Imagens/hotel2.jpg">
        <div class="texto"><strong>A Ver o Mar</strong></div>
    </div>
    <div class="hotel" id="hotel3">
        <img id="hotel3Img" src="assets/Imagens/hotel3.jpg">
        <div class="texto"><strong>Mediterrâneo</strong></div>
    </div>
</div>