<div class="hotelDetails">
    <a routerLink="/aVerOMar/quartos"><strong>Quartos desde 90€</strong></a>
    <a routerLink="/aVerOMar/quartos"><strong>202 Quartos</strong></a>
    <a routerLink="/aVerOMar/quartos/Standard"><strong>182 Standard</strong></a>
    <a routerLink="/aVerOMar/quartos/Suite Junior"><strong>5 Suite Júnior</strong></a>
    <a routerLink="/aVerOMar/quartos/Suite Junior Superior"><strong>15 Suite Júnior Superior</strong></a>
</div>
<div id="descTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">O Hotel</h1>
    </div>
    <div class="descricao">
        <p class="desc" id="p1">Situado na pitoresca vila da Ericeira, mesmo em cima da praia, este hotel com história e tradição, que resulta da reabilitação do marcante Hotel de Turismo da Ericeira, tem como cenário o Oceano Atlântico.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelAVerOMar/rececao.jpg">
    </div>
    <div class="descricao1">
        <img id="imgDesc1" src="/assets/Imagens/HotelAVerOMar/restaurante.jpg">
        <p class="desc1">A 30 minutos de Lisboa, com acesso direto por autoestrada, o hotel A Ver o Mar dispõe de quatro tipologias de quarto, destacando-se os que têm varanda e vista para o mar. Este hotel na Ericeira inclui um restaurante, dois bares, salas para eventos
            e reuniões empresariais, clube de crianças e parque infantil e um moderno clube de saúde com salas de massagens, jacuzzi, sauna, banho turco e ginásio.</p>
    </div>
    <div class="descricao2">
        <p class="desc">Durante a sua estadia no hotel A Ver o Mar, não deixe de dar um mergulho nas duas piscinas para adultos, uma das quais de água salgada. Já as crianças vão adorar os escorregas aquáticos.</p>
        <img id="imgDesc" src="/assets/Imagens/HotelAVerOMar/piscina.jpg">
    </div>
    <div class="descricao1" id="descricaoFinal">
        <img id="imgDesc1" src="/assets/Imagens/HotelAVerOMar/vistaPraia.jpg">
        <p class="desc1">Partindo deste hotel na Ericeira, aventure-se a conhecer as praias da região. E saiba que se apreciar desportos de ondas, está em plena reserva mundial de surf, e palco de uma das etapas do circuito WSL World Tour que junta os melhores surfistas
            do mundo. Pode ainda visitar o Palácio Nacional de Mafra ou Sintra, a 20 minutos de distância do hotel A Ver o Mar, de carro. No verão, a animação da vila aumenta graças a vários festivais, entre os quais um dedicado exclusivamente à música
            reggae.
        </p>
    </div>
</div>
<div class="container">
    <div class="nav"><strong>Serviços</strong></div>
    <div id="servicos">
        <div id="servicosLista" class="list">
            <div class="num">
                <div class="numD"> Jardins e espaços exteriores </div>
            </div>
            <div class="num">
                <div class="numD"> Piscina exterior para adultos e crianças </div>
            </div>
            <div class="num">
                <div class="numD"> Acesso gratuito à internet via wi-fi </div>
            </div>
            <div class="num">
                <div class="numD"> Parque de estacionamento </div>
            </div>
            <div class="num">
                <div class="numD"> Nep Kids Club </div>
            </div>
            <div class="num">
                <div class="numD"> Parque infantil </div>
            </div>
            <div class="num">
                <div class="numD"> Sala de jogos </div>
            </div>
            <div class="num">
                <div class="numD"> Serviço de lavandaria </div>
            </div>
            <div class="num">
                <div class="numD"> Acessos para pessoas com mobilidade reduzida </div>
            </div>
            <div class="num">
                <div class="numD"> Clube de saúde </div>
            </div>
            <div class="num">
                <div class="numD"> Receção 24 horas </div>
            </div>
        </div>
    </div>
</div>

<div id="localTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">Localização</h1>
    </div>
    <div id="localizacao">
        <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.1800927000913!2d-9.421355384647642!3d38.96555557956022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzjCsDU3JzU2LjAiTiA5wrAyNScwOS4wIlc!5e0!3m2!1spt-PT!2spt!4v1588098601330!5m2!1spt-PT!2spt"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div id="detalhesLocal">
            <img id="moradaImg" src="assets/Imagens/Icones/morada.png">
            <a>
                <p id="morada">Hotel A Ver o Mar<br> Largo dos Navegantes<br> 2655-320 Ericeira<br> Portugal</p>
            </a>
            <img id="coordsImg" src="assets/Imagens/Icones/gps.png">
            <p id="coords">38°57'56.0"N <br>9°25'09.0"W</p>
        </div>
    </div>
</div>