<app-sticky-bar></app-sticky-bar>
<div id="descTitulo" class="containerDesc">
    <div class="descricao">
        <p class="desc" id="p1">{{hotel.descricao[0]}}</p>
        <img id="imgDesc" src="{{hotel.fotos[3]}}">
    </div>
    <div class="descricao1">
        <img id="imgDesc1" src="{{hotel.fotos[4]}}">
        <p class="desc1">{{hotel.descricao[1]}}</div>
    <div class="descricao2">
        <p class="desc">{{hotel.descricao[2]}}</p>
        <img id="imgDesc" src="{{hotel.fotos[2]}}">
    </div>
    <div class="descricao3" id="descricaoFinal">
        <img id="imgDesc1" src="{{hotel.fotos[8]}}">
        <p class="desc1">{{hotel.descricao[3]}}</p>
    </div>
</div>


<div class="container">
    <div class="nav"><strong>Serviços</strong></div>
    <div id="servicos">
        <div id="servicosLista" class="list">
            <div class="num" *ngFor="let servico of hotel.servicos">
                <div class="numD"> {{servico}} </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="nav"><strong>Quartos</strong></div>
    <app-quartos-home-page></app-quartos-home-page>
</div>

<div id="localTitulo" class="container">
    <div class="nav">
        <h1 class="Titulo">Localização</h1>
    </div>
    <div id="localizacao">
        <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.1260313899156!2d-7.6466896845814505!3d41.15360117928631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3b51656fe83181%3A0x3b783ee5b06b15bc!2sVila%20Gal%C3%A9%20Douro%20Vineyards!5e0!3m2!1spt-PT!2spt!4v1589804218598!5m2!1spt-PT!2spt" width="224" height="224" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div id="detalhesLocal">
            <img id="imagemMor" src="assets/Imagens/Icones/morada.png">
            <a>
                <p id="morada"> {{hotel.local}} <br> {{hotel.zona}} <br> {{hotel.codigoPostal}} <br> {{hotel.pais}} </p>
            </a>
            <img id="coordsImg" src="assets/Imagens/Icones/gps.png">
            <p id="coordenadas"> {{hotel.latitude}} <br> {{hotel.longitude}} </p>
        </div>
    </div>
</div>