<div class="topo">
    <div class="hotelDetails">
        <a routerLink="quartos"><strong>Quartos desde 180€</strong></a>
        <a routerLink="quartos"><strong>6 Quartos</strong></a>
        <a routerLink="quartos"><strong>3 Standard</strong></a>
        <a routerLink="quartos"><strong>1 Suíte</strong></a>
        <a routerLink="quartos"><strong>1 Suíte Duplex</strong></a>
        <a routerLink="quartos"><strong>1 Suíte Deluxe</strong></a>
    </div>
    <div class="logo">
        <img routerLink="/" style="display:inline; width: 45%; cursor: pointer;" src="assets/Imagens/logoVinha.png">
    </div>
    <div class="nomeHotel" routerLink="../{{hotel._id}}">
        {{hotel.nome}}
    </div>
    <div class="topNav">
        <a routerLink="./quartos" class="topNavA">Quartos</a>
        <a routerLink="./galeria" class="topNavA">Fotos</a>
        <a class="topNavA1">|</a>
        <a class="topNavA">Login</a>
    </div>
</div>