<div class="topo">
    <div class="logo">
        <img routerLink="/" style="display:inline; width: 60%; cursor: pointer;" src="{{hotel.fotoPath}}logo.png">
    </div>
    <div class="nomeHotel" routerLink="../{{hotel._id}}">
        {{hotel.nome}}
    </div>
    <div class="topNav">
        <a routerLink="./quartos" class="topNavA">Quartos</a>
        <a routerLink="./galeria" class="topNavA">Fotos</a>
        <a class="topNavA1">|</a>
        <a *ngIf="this.userAtual === undefined; else paginaCliente" routerLink="../../login-registo" class="topNavA">Login</a>
        <ng-template #paginaCliente>
            <a class="topNavA" routerLink="./cliente">{{this.userAtual.nome}}</a>
        </ng-template>
    </div>
</div>